/.quarto/
**/website/.quarto/
**/*.quarto_ipynb
/.pnpm-store/
/_freeze/
**/website/_freeze/
/_site/
**/website/_site/
website/_extensions/plotcat
/.tmp-render/
/node_modules/
/tests/fixtures/*_files/
/.test-output/
